<html>
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title></title>
</head>
<body>
<h1>Query the Human UniprotKB IEP and MW database for proteins with
similar IEP and MW:</h1>
<form action="/" enctype="multipart/form-data" method="post"> IEP lower boundary
(pH):<input name="iepLower" value="8.5" type="text"> <br>
IEP upper boundary (pH):<input name="iepUpper" value="8.7"
type="text"> <br>
MW lower boundary (Da):<input name="mwLower" value="44000"
type="text"> <br>
MW upper boundary (Da):<input name="mwUpper" value="45000"
type="text"> <br>
<input name="Find similar proteins" value="Find similar proteins" type="submit"></form>
<hr>
</body>
</html>
